body {
    background-color: #000;
    color: #0f0;
    font-family: monospace;
    margin: 0;
    overflow: hidden;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body.custom-cursor-active, body.custom-cursor-active * { cursor: none !important; }

